.background{
    background-color: #fdf2e3;
}
.heading-word{
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    font-weight: bolder;
    color:#d44038;
    text-align: center;
    padding: auto;
}
